
:root{
    --gris: rgb(170, 170, 170);
    --negro: rgb(0, 0, 0);
    --blanco: rgb(255, 255, 255);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
html{
    height:100%;
    
    align-items: center;
    justify-items: center;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings:#333333;
    --color-text:#333333;
    --barrita:#FE9A2E;
    --boton: rgb(0, 0, 0);
}
html[data-theme='dark']{
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings:#333333;
    --color-text:rgb(255, 255, 255);
    --barrita:#F7819F;
    --boton: rgb(255, 255, 255);
}
body{
    background-color: var(--bg);
    color: var(--color-text);

}
.boton{
    width:200px;
    height:50px;
    background:none;
    border:4px solid;
    color:var(--boton);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-size:14px;
    position: relative;
  
   
}
.boton::before,.boton::after{
    content: "";
    position: absolute;
    width:14px;
    height: 4px;
    background:var(--bg);
    transform:skewX(50deg);
    transition: .4s linear;
}
.boton::before{
    top: -4px;
    left:10%;
}
.boton::after{
    bottom:-4px;
    right: 10%;
}
.boton:hover::before{
    left:80%;  
}
.boton:hover::after{
    right:80%;  
}
footer{
    border: solid 0.2px var(--negro);
    margin: 6rem 5rem 2rem 5rem;
    font-family: 'Gloria Hallelujah', cursive;


}
.navbar-toggler{
    margin: 1rem;
}
.bordenavbar{
    border-bottom: solid 0.2px var(--negro);
    background-color: var(--bg);
}
.borde{
    border: solid 0.2px var(--negro);
    padding: 2rem;
    margin-bottom: 2rem;
}
.nav-link {
    color: var(--color-text);
    text-decoration: none;
    padding: 1.5rem;
}
.nav-link:hover {
    color: var(--color-text);
    border-bottom: solid var(--blanco);
    
}

.jumbotron1{
    
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 2rem;
    margin-right: 6.6rem;
    margin-left: 6.6rem;
    background-color: var(--bg);
    color: var(--color-text);
}
.texto{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.bordeIzquierdaGordo{
    border-left: solid 7px var(--barrita);
    margin-right: 1rem;
}
.bordeIzquierdaFino{
    border-left: solid 2px var(--barrita);
    margin-right: 1rem;
}
.marginIzquierda{
    margin-left: 3rem;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}




html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}


#galletas {
    margin: 5rem 5rem;
}
#terminos{
    margin: 5rem 5rem;
}